.header {
  color: white;
  background-color: #af7eeb;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.searchInput {
  width: 30%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #af7eeb;
}

.todoInput {
  width: 50%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 2px solid #af7eeb;
  margin-top: 1rem;
}

.formContainer {
  margin-top: 2rem;
}

.todoButton {
  height: 2rem;
  border-radius: 0.5rem;
  border-style: none;
  background: green;
  color: white;
  cursor: pointer;
}

.todoList {
  display: flex;
  flex-direction: row;
  width: 57%;
  justify-content: space-between;
  border-bottom: 1px dotted black;
  padding: 0.5rem;
  align-items: center;
}

.delButton {
  background: red;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}